/*! header start */
.header {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
}
.nav-item i {
  font-size: 25px;
}
.count {
  position: absolute;
  top: 2px;
  left: 20px;
  height: 20px;
  width: 20px;
  background-color: #3bb77e;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group input,
.input-group input:focus {
  border: 3px solid #3bb77e;
  border-radius: 15px !important;
}

.input-group i {
  top: 5px;
  right: 10px;
  z-index: 9999;
}
.header-bottom {
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
}
.nav-item a:hover,
.nav-item .number {
  color: #3bb77e;
}
.header-bottom i {
  font-size: 15px;
}
/*! header end */
/*! slider start */
.slider {
  padding: 20px;
}
.slider-img {
  background-image: url("img/slider/slider-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}
.slider-img-1 {
  background-image: url("img/slider/slider-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}
.desc {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100% !important;
}
.desc h1 {
  font-size: 64px;
}
.desc p {
  font-size: 30px;
  color: #7e7e7e;
}
/*! slider end */
