/*! header start */
body {
  overflow-x: hidden;
}
.header {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
}
.nav-item i {
  font-size: 25px;
}
.count {
  position: absolute;
  top: 2px;
  left: 20px;
  height: 20px;
  width: 20px;
  background-color: #3bb77e;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group input,
.input-group input:focus {
  border: 3px solid #3bb77e;
  border-radius: 15px !important;
}

.input-group i {
  top: 5px;
  right: 10px;
  z-index: 9999;
}
.header-bottom {
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
}
.nav-item a:hover,
.nav-item .number {
  color: #3bb77e;
}
.header-bottom i {
  font-size: 15px;
}
/*! header end */
/*! slider start */
.slider {
  padding: 20px;
}
.slider-img {
  background-image: url("img/slider/slider-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}
.slider-img-1 {
  background-image: url("img/slider/slider-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}
.desc {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100% !important;
}
.desc h1 {
  font-size: 64px;
}
.desc p {
  font-size: 30px;
  color: #7e7e7e;
}
/*! slider end */
/*! categories start */
.categories .navbar-nav,
.sells .navbar-nav {
  flex-direction: unset;
}
.categories .row .col-2 {
  background: #f4f6fa;
  text-align: center;
  border: 1px solid #f4f6fa;
  border-radius: 10px;
}
.categories .row .col-2:hover {
  -webkit-box-shadow: 8px -9px 41px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px -9px 41px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 8px -9px 41px 3px rgba(0, 0, 0, 0.75);
  color: #e7a61a;
}
.arrows {
  right: 20px;
  top: -40px;
}
.arrows .bi-arrow-left {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 24px;
  cursor: pointer;
  background-color: #f4f6fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows .bi-arrow-right {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 24px;
  cursor: pointer;
  background-color: #f4f6fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows i:hover {
  background-color: #3bb77e;
  color: #fff;
}

/*! categories end */
/*! banners-card start  */
.banner-text {
  top: 20%;
  left: 10%;
}
.banner-text a {
  transition: 0.3s ease-in all;
}
.banner-text a:hover {
  background-color: #fdc040;
  color: #fff;
  border: none;
}
/*! banners-card end  */
/*! products  start  */

.stars .bi-star-fill {
  color: gold;
}
.card {
  transition: 0.3s ease-in all;
}
.col-3 .card:hover {
  border: 1px solid green;
}
/*! products  end  */
/*! best sells start  */
.banner {
  background: url(img/banner/banner-4.png) no-repeat center bottom;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-size: cover;
  height: 520px;
}

.banner .banner-text h2 {
  font-size: 40px !important;
  color: #253d4e;
}
.add a {
  left: 15%;
}
.sells .col-9 .col-3 .card {
  width: 214px !important;
}
/*! best sells end  */
/*! all start */
.all .col-3 h4 {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  font-size: 24px;
}
.all .col-3 h4:after {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #bce3c9;
}
/*! all end */
/*! footer-top start */
.footer-top .col-3 {
  width: 19%;
  background: #f4f6fa;
  border-radius: 10px;
  padding: 20px;
}
.footer-top h3 {
  font-size: 18px;
  color: #242424;
}
/*! footer-top end */
/*! footer start */
.footer .nav-item i {
  color: #3bb77e;
  font-size: 18px;
}
.footer .img {
  max-width: 100% !important;
}
/*! footer end */
